In [83]:
import pandas as pd
import matplotlib.pyplot as plt

In [63]:
df = pd.read_csv("covid_data.csv")

In [64]:
df.head()

,country,ISO2,ISO,slug,start_date,end_date,lable_end_date,active,new_cases_feature,new_cases_label,stringency_actual,population,gdp_per_capita,population_density,Urban_population,UHC_service_coverage_index,basic_sanitation_services,Population_ages_0_to_14,Population_ages_15_to_64,Population_ages_65_and_over
0,Oman,OM,OMN,oman,2020-01-22,2020-02-11,2020-03-02,0,0,6,19.44,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859
1,Oman,OM,OMN,oman,2020-02-11,2020-03-02,2020-03-22,5,6,55,19.44,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859
2,Oman,OM,OMN,oman,2020-03-02,2020-03-22,2020-04-11,38,49,540,81.48,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859
3,Oman,OM,OMN,oman,2020-03-22,2020-04-11,2020-05-01,434,491,2392,92.59,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859
4,Oman,OM,OMN,oman,2020-04-11,2020-05-01,2020-05-21,1941,1901,5824,87.96,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859

In [65]:
X = df.drop(["new_cases_label","country","ISO2","slug","start_date","end_date","lable_end_date","ISO" ]  , 1)
y = df["new_cases_label"]

In [79]:
X.head()

,active,new_cases_feature,stringency_actual,population,gdp_per_capita,population_density,Urban_population,UHC_service_coverage_index,basic_sanitation_services,Population_ages_0_to_14,Population_ages_15_to_64,Population_ages_65_and_over
0,0,0,19.44,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859
1,5,6,19.44,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859
2,38,49,81.48,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859
3,434,491,92.59,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859
4,1941,1901,87.96,4974986.0,15474.032475,15.604145,85.443,69.0,99.999999,22.418395,75.133015,2.44859

In [66]:
y = y.values.reshape(-1,1)

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [68]:
# Scale your data
from sklearn.preprocessing import StandardScaler
X_minmax = StandardScaler().fit(X_train)
y_minmax = StandardScaler().fit(y_train)


X_train_minmax = X_minmax.transform(X_train)
X_test_minmax = X_minmax.transform(X_test)


y_train_minmax = y_minmax.transform(y_train)
y_test_minmax = y_minmax.transform(y_test)

In [70]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train_minmax, y_train_minmax)

score = model.score(X_train_minmax, y_train_minmax)
print(f"R2 Score: {score}")

R2 Score: 0.9719773023423159

In [78]:
model.coef_

array([[ 4.85093622e-02,  9.37921040e-01,  3.67980968e-03,
         2.80510209e-02,  4.77046637e-03, -2.55160285e-03,
         5.71762603e-03, -2.06640709e-04,  1.16271758e-03,
        -3.90961980e+11, -2.33232308e+11, -2.49352420e+11]])

In [72]:
score = model.score(X_test_minmax, y_test_minmax)
print(f"R2 Score: {score}")

R2 Score: 0.9743719362341491

In [74]:
model.get_params(deep=True)

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'normalize': False}

In [85]:
import joblib
filename = 'Regresssion.sav'
joblib.dump(model, filename)

['Regresssion.sav']